@model nomina.Entities.Empleado

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>¿Está seguro de eliminar este empleado?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Cédula
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            Departamento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartamentoId)
        </dd>
        <dt class = "col-sm-2">
            Puesto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PuestoId)
        </dd>
        <dt class = "col-sm-2">
            Salario Mensual
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalarioMensual)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>